body {
    background-color: aquamarine;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

p {
    position: relative;
    font-size: 15px;
    color: black;
    padding-left: 400px;
    padding-right: 400px;
}